body {
  margin: 0 !important;
}

ul {
  padding: 0;
}

li {
  padding: 0;
}

.small-wrapper {
  display: block;
  max-width: 750px;
  margin: 0 auto;
}

.width-fill {
  width: $width-fill;
}

.form-wrapper {
  margin: 15px 0;
}

.row {
  display: flex;
}

.width-1,
.width-2  {
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.width-1 {
  width: 100%;
}

.width-2 {
  width: 50%;
}

div.error,
span.error {
  color: #ff3636;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 4px;
}